                    <fieldset>
                        <div class="profile-data">
                            <div class="table-responsive">
                                <table class="card-body table">
                                    <tbody>
                                        <tr [class]="getClass(1)">
                                            <th style="border-right: 2px solid #eee">First Name</th>
                                            <td></td>
                                        </tr>
                                        <tr [class]="getClass(2)">
                                            <th style="border-right: 2px solid #eee">Last Name</th>
                                            <td></td>
                                        </tr>
                                        <tr [class]="getClass(3)">
                                            <th style="border-right: 2px solid #eee">Email Id</th>
                                            <td></td>
                                        </tr>
                                        <tr [class]="getClass(4)">
                                            <th style="border-right: 2px solid #eee">Phone Number</th>
                                            <td></td>
                                        </tr>
                                        <tr [class]="getClass(5)">
                                            <th style="border-right: 2px solid #eee">Prefrence</th>
                                            <td></td>
                                        </tr>
                                        <tr [class]="getClass(6)">
                                            <th style="border-right: 2px solid #eee">Addresss</th>
                                            <td></td>
                                        </tr>
                                        <tr [class]="getClass(7)">
                                            <th style="border-right: 2px solid #eee">Description</th>
                                            <td></td>
                                        </tr>
                                        <tr [class]="getClass(8)">
                                            <th style="border-right: 2px solid #eee">Status</th>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>