<div [@routerTransition]>
    <app-page-header [heading]="'General Settings'" [icon]="'fa-sliders'"></app-page-header>
    <h4 _ngcontent-c7="" class="page-header">
            Contact Us
    </h4>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-6">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse">
                        <div class="mr-auto">
                            <span>
                            </span>
                        </div>
                        <form class="form-inline my-2 my-lg-0 right">
                            <div class="form-inline my-2 my-lg-0 right">
                                <input (input)="searchUser(pager)" [(ngModel)]="searchInput" name='searchInput' class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                                <!-- <button class="btn btn-outline-success my-2 my-sm-0" >Search</button> -->
                            </div>
                        </form>
                    </div>
                </nav>
               <div class="table-responsive">
                   <table matSort (matSortChange)="sortData($event)" class="card-body table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th mat-sort-header="name">Name</th>
                        <th mat-sort-header="email">email</th>
                        <th mat-sort-header="subject">subject</th>
                        <th mat-sort-header="message">message</th>
                        <th>status</th>
                        <!-- <th>created</th> -->
                    </tr>
                    </thead>
                    <tbody *ngIf="usersDataBackup && users && sortedData">
                        <tr *ngFor="let user of sortedData;let i = index "  [class]="getClass(i)">
                            <th scope="row">{{(pageIndex*pageSize)+i+1}}</th>
                            <td >
                                <span>{{user.name}}</span>
                            </td>
                            <td >
                                <span>{{user.email}}</span>
                            </td>
                            <td >
                                <span>{{user.subject}}</span>
                            </td>
                            <td >
                                <span>{{user.message}}</span>
                            </td>
                            <td >
                                <span class="cus-switch">
                                    <label class="switch m-b-0">
                                        <input type="checkbox" [(ngModel)]="user.status" (change)="onStatusChange(user);">
                                        <span class="slider round"></span>
                                    </label>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
               </div>
               <mat-paginator #pager [length]="usersDataBackup.length"
                                  [pageSize]="pageSize"
                                  [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageoption($event)">
                    </mat-paginator>
                
            </div>
        </div>
    </div>
</div>
