<div [@routerTransition]>
    <app-page-header [heading]="'Deal Type Management'" [icon]="'fa-cubes'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-6">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse">
                        <div class="mr-auto">
                            <span>
                                <a *ngIf="!add_new" (click)="add_new=!add_new">
                                    <span><i class="fa fa-plus"></i></span>
                                </a>
                                <div *ngIf="add_new">
                                    <input class="form-control table-input-width" type="text" placeholder="Enter Name" name="type_value" [(ngModel)]="new_type_value">
                                    <button (click)="add_new=!add_new;createdealtype(pager)" [disabled]="check_valid()" type="submit" class="profile-page-button btn btn-primary add-new-margin-left">Submit</button>
                                </div>
                            </span>
                        </div>
                        <form class="form-inline my-2 my-lg-0 right">
                            <div class="form-inline my-2 my-lg-0 right">
                                <input (input)="searchUser(pager)" [(ngModel)]="searchInput" name='searchInput' class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                                <!-- <button class="btn btn-outline-success my-2 my-sm-0" >Search</button> -->
                            </div>
                        </form>
                    </div>
                </nav>
               <div class="table-responsive">
                   <table matSort (matSortChange)="sortData($event)" class="card-body table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th mat-sort-header="type_name">Type Name</th>
                        <th mat-sort-header="status">Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="usersDataBackup && users && sortedData">
                        <tr *ngFor="let user of sortedData;let i = index "  [class]="getClass(i)">
                            <th scope="row">{{(pageIndex*pageSize)+i+1}}</th>
                            <td >
                                <span [hidden]="edit_type==i+1">{{user.type_name}}</span>
                                <div [hidden]="edit_type!=i+1">
                                    <input class="form-control table-input-width" type="text" placeholder="Name" name="first_name" [(ngModel)]="input_value" >
                                    <label style="margin:5px"><a *ngIf="edit_type==i+1" class="fa fa-check fa-lg user-button" (click)="edit_type=0;updateDeal(input_value,user.id)"></a></label>
                                </div>
                            </td>
                            <td >
                                 <span class="cus-switch">
                                    <label class="switch m-b-0">
                                        <input type="checkbox" [(ngModel)]="user.status" (change)="onStatusChange(user);">
                                        <span class="slider round"></span>
                                    </label>
                                </span>
                            </td>
                            <td >
                                <a *ngIf="edit_type!=i+1" href="javascript:void(0)" class="fa fa-pencil-square-o fa-lg user-button" (click)="edit_type=i+1"></a>
                                <a *ngIf="edit_type==i+1" class="fa fa-check fa-lg user-button" (click)="edit_type=0;updateDeal(input_value,user.id)"></a>
                            </td>
                        </tr>

                    </tbody>

                </table>
               </div>
               <mat-paginator #pager [length]="usersDataBackup.length"
                                  [pageSize]="pageSize"
                                  [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageoption($event)">
                    </mat-paginator>
                
            </div>
        </div>
    </div>
</div>
