<div [@routerTransition]>
    <app-page-header [heading]="'Profile'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Basic example
                </div>
                <div class="card-body table-responsive">
                <div class="profile-image">
                    <img class="img-thumbnail-profile" src="http://placehold.it/400x400" alt="">
                </div>
                <div class="profile-data">
                    <form role="form">

                    <fieldset [disabled]="nonEditableStatus">

                        <div class="form-group">
                            <label for="disabledSelect">First Name</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="First Name" >
                        </div>
                        <div class="form-group">
                            <label for="disabledSelect">Last Name</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Last Name" [disabled]="false">
                        </div>
                        <div class="form-group">
                            <label for="disabledSelect">User Name</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="User Name" [disabled]="false">
                        </div>
                        <div class="form-group">
                            <label for="disabledSelect">User Email</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="User Email" [disabled]="false">
                        </div>
                    </fieldset>
                        <button *ngIf="nonEditableStatus" type="submit" class="btn btn-primary" (click)="onEdit()">Edit</button>
                        <button *ngIf="!nonEditableStatus" type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>

                </form>
                </div>
                 
                    <!-- <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>
                             <span class="cus-switch">
                                <label class="switch m-b-0">
                                    <input type="checkbox"   (change)="onStatusChange()"/>
                                    <span class="slider round"></span>
                                </label>
                            </span></td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table> -->
                </div>
            </div>
        </div>
    </div>
</div>
