<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class=" " />
            <h1>Forgot Password</h1>
            <form role="form" #forgotForm="ngForm" novalidate>
                <div class="form-content">
                    <div class="form-group">
                         <input class="form-control input-underline input-lg" type="text" placeholder="User Email" #user_email="ngModel" name="user_email" [(ngModel)]="email" pattern="^[a-zA-Z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" required>
                    </div>
                    <p padding style="color:#D23839" [hidden]="user_email.valid || !user_email.touched">Email required</p>
                </div>
                <button class="btn rounded-btn" [disabled]="forgotForm.form.invalid" (click)="forgot()">Send Email</button>
                <button class="btn rounded-btn" [routerLink]="['/dashboard']" > Log in </button>
                
            </form>
        </div>
    </div>
</div>
